sudo: required

services:
#  - docker

language: node_js

node_js:
  - "7"

install:
  - sudo apt-get install -y awscli
  - npm install
  - npm install -g serverless

before_script:
  - printf '%s\n%s\n%s\n%s\n' "$AWS_ACCESS_KEY_ID" "$AWS_SECRET_ACCESS_KEY" "AWS_S3_BUCKET_SERVERLESS" "AWS_DEFAULT_REGION" > credential
  - aws configure < credential
  - aws s3 cp s3://$AWS_S3_BUCKET_SERVERLESS/serverless.yml serverless.yml
script:
  - sls deploy
  - rm serverless.yml

notifications:
  email: false
